{% load static %}
<!doctype html>
<html class="no-js " lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="">

<title>:: Binders :: Invoice</title>
<link rel="icon" href="logo.ico" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="{% static 'new/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'new/assets/plugins/sweetalert/sweetalert.css' %}"/>

<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/color_skins.css' %}">>
<style>
td{
    padding:2px !important;
}
    footer {
        position: relative;
        bottom: 0;
    }
</style>
</head>
<body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="http://www.wrraptheme.com/templates/square/html/assets/images/logo.svg" width="48" height="48" alt="please wait..."></div>
        <p>Please wait...</p>        
    </div>
</div>
<!-- Top Bar -->
<nav class="navbar">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html"><img src="static\assets\logo\Logo.png" style="width: 40px;margin-left: 19px;"alt=" Binders"><span class="m-l-10"> Binders</span></a>
            </div>
        </li>        
        <li>
            <a href="javascript:void(0);" class="menu-sm" data-close="true">
                <i class="zmdi zmdi-arrow-left"></i>
                <i class="zmdi zmdi-arrow-right"></i>
            </a>
        </li>
        <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
            <ul class="dropdown-menu pullDown">
                <li><a href="mail-inbox.html"><i class="zmdi zmdi-home m-r-10"></i><span>Home</span></a></li>
                <li><a href="contact.html"><i class="zmdi zmdi-task m-r-10"></i><span>Creat Quotation List</span></a></li>
                <li><a href="chat.html"><i class="zmdi zmdi-comment-text m-r-10"></i><span>View Order Progress</span></a></li>
                             
            </ul>
        </li>
        <li class="dropdown notifications hidden-sm-down"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
            <span class="label-count">5</span>
            </a>
            <ul class="dropdown-menu pullDown">
                <li class="header">New Message</li>
                <li class="body">
                    <ul class="menu list-unstyled">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object" src="static/new/assets/images/sm/avatar5.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Alexander <span class="time">13min ago</span></span>
                                        <span class="message">Meeting with Shawn at Stark Tower by 8 o'clock.</span>                                        
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object" src="static/new/assets/images/xs/avatar6.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Grayson <span class="time">22min ago</span></span>
                                        <span class="message">You have 5 unread emails in your inbox.</span>                                        
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object" src="static/new/assets/images/xs/avatar3.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Sophia <span class="time">31min ago</span></span>
                                        <span class="message">OrderPlaced: You received a new oder from Tina.</span>                                        
                                    </div>
                                </div>
                            </a>
                        </li>                
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <img class="media-object" src="static/new/assets/images/xs/avatar4.jpg" alt="">
                                    <div class="media-body">
                                        <span class="name">Isabella <span class="time">35min ago</span></span>
                                        <span class="message">Lara added a comment in Blazing Saddles.</span>                                        
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer"> <a href="javascript:void(0);">View All</a> </li>
            </ul>
        </li>
        <li class="dropdown task"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-flag"></i>
            <span class="label-count">3</span>
            </a>
            <ul class="dropdown-menu pullDown">
                <li class="header">Project</li>
                <li class="body">
                    <ul class="menu tasks list-unstyled">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="text-muted">Clockwork Orange <span class="float-right">29%</span></span>
                                <div class="progress">
                                    <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="text-muted">Blazing Saddles <span class="float-right">78%</span></span>
                                <div class="progress">
                                    <div class="progress-bar l-slategray" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="text-muted">Project Archimedes <span class="float-right">45%</span></span>
                                <div class="progress">
                                    <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="text-muted">Eisenhower X <span class="float-right">68%</span></span>
                                <div class="progress">
                                    <div class="progress-bar l-coral" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="text-muted">Oreo Admin Templates <span class="float-right">21%</span></span>
                                <div class="progress">
                                    <div class="progress-bar l-amber" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;"></div>
                                </div>
                            </a>
                        </li>                        
                    </ul>
                </li>
                <li class="footer"><a href="javascript:void(0);">View All</a></li>
            </ul>
        </li>        
        <li class="search_bar hidden-sm-down">
            <div class="input-group">                
                <input type="text" class="form-control" placeholder="Search Quotation and Order...">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-search"></i>
                </span>
            </div>
        </li>
        <li class="float-right">            
            <a href="javascript:void(0);" class="fullscreen hidden-md-down hidden-sm-down" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a>            
            <a href="javascript:void(0);" class="js-right-chat"><i class="zmdi zmdi-comments"></i></a>
            <a href="sign-in.html" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
        </li>        
    </ul>
</nav>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="menu">        
        <ul class="list">
            <li>
                <div class="user-info">
                    <div class="image"><a href="index.html"><img src="static\assets\logo\Logo.png" alt="User"></a></div>
                    <div class="detail">
                        <h4> Binders</h4>
                        
                        
                    </div>                    
                </div>
            </li>
            
            <li class="active open"><a href="{% url 'quotation' %}" ><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
                
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-gamepad"></i><span>Quotation</span></a>
                <ul class="ml-menu">                   
                    <li><a href="{% url 'quotation' %}">Create Quotation</a></li>
                    <li><a href="{% url 'create_quotation' %}"> View Quotation</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-widgets"></i><span>Invoice</span></a>
                <ul class="ml-menu">
                    <li><a href="{% url 'view_invoices' %}">View Invoice</a></li>
                </ul>
    </div>
</aside>
<!-- Right Chatbar -->
<aside id="rightchat" class="right_chat">
    <div class="chat_body">
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-search"></i>
                </span>
            </div>
        </div>
        <ul class="chat-widget m-b-0 clearfix">
            <li class="left float-left">                    
                <div class="chat-info">                        
                    <span class="datetime">6:12</span>                            
                    <span class="message">Hello, John </span>
                </div>
            </li>
            <li class="right">
                <div class="chat-info">
                    <a class="name" href="javascript:void(0);">Alexander</a>
                    <span class="datetime">6:15</span>
                    <span class="message">Hi, Alexander<br> How are you!</span>
                </div>
            </li>
            <li class="right">
                <div class="chat-info">
                    <a class="name" href="javascript:void(0);">Alexander</a>
                    <span class="datetime">6:16</span>
                    <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                </div>
            </li>
            <li class="left float-left">
                <div class="chat-info">
                    <span class="datetime">6:25</span>
                    <span class="message">Hi, Alexander,<br> John <br> What are you doing?</span>
                </div>
            </li>
            <li class="left float-left">
                <div class="chat-info">
                    <span class="datetime">6:28</span>
                    <span class="message">I would love to join the team.</span>
                </div>
            </li>
                <li class="right">
                <div class="chat-info">
                    <span class="datetime">7:02</span>
                    <span class="message">Hello, <br>Michael</span>
                </div>
            </li>
        </ul>
        <div class="enter_msg">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter text here...">
                <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
            </div>
        </div>
    </div>    
    <div class="chat_list">
        <ul class="list-unstyled clearfix">
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar2.jpg" class="rounded-circle" alt=""></a></li>
            <li class="active"><a href="javascript:void(0);"><img src="../assets/images/xs/avatar3.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar4.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar5.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar6.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar7.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar8.jpg" class="rounded-circle" alt=""></a></li>
            <li><a href="javascript:void(0);"><img src="../assets/images/xs/avatar9.jpg" class="rounded-circle" alt=""></a></li>
        </ul>
    </div>
</aside>

<section class="content invoice">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Enter invoice ID
                </h2>
                <form action="view_invoice" method="POST">
                    {% csrf_token %}
                    <input type="text" name="Id">
                    <input type="submit" name="submit" class="btn btn-warning" value="find">
                </form>
            </div>
        </div>
    </div>
    <footer><p> &#169; 2020 , copyright kapil sharma, All right reserved.</p>
    </footer>
</section>

     
<!-- Jquery Core Js --> 
<script src="{% static 'assets/bundles/libscripts.bundle.js'%}"></script> <!-- Lib Scripts Plugin Js --> 
<script src="{% static 'assets/bundles/vendorscripts.bundle.js'%}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'new/assets/plugins/sweetalert/sweetalert.min.js'%}"></script> <!-- SweetAlert Plugin Js --> 

<script src="{% static 'assets/bundles/mainscripts.bundle.js'%}"></script><!-- Custom Js --> 
<script src="{% static 'assets/js/pages/ui/dialogs.js'%}"></script>
</body>
<!-- Mirrored from www.wrraptheme.com/templates/square/html/light/invoices.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jun 2019 17:47:59 GMT -->
</html> 